
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="alert alert-success bootstrap-admin-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Success</h4>
            The operation completed successfully
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">All items</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">View All</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("ViewAlll")</div>
                    <div id="secondTab" class="tab-pane fade in ">@Html.Action("AddOrEditConsumable")</div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable(
               {

                   "scrollX": true,
                   "scrollCollapse": true,
                   "scrollY": "550px",

               }
               );

        }

        $(function () {
            activatejQueryTable();
        });

    </script>
}
