
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#firstTab">View All</a></li>
</ul>
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in active">@Html.Action("ViewAllOnly")</div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function activatejQueryTable() {
             $("#employeeTable").DataTable(
                {
                    "scrollX": true,
                    "scrollCollapse": true,
                    "scrollY": "550px",

                }
                );

        }

        $(function () {
            activatejQueryTable();
        });

</script>
}